torch>=1.13.0
torchaudio>=0.13.0
librosa==0.9.1
sounddevice>=0.4.5
soundfile>=0.12.1
numpy>=1.23.5
scipy>=1.9.0
resampy>=0.4.2
pyworld==0.3.2
torchcrepe==0.0.20
faiss-cpu==1.7.3
gradio==3.34.0
ffmpeg-python>=0.2.0
praat-parselmouth>=0.4.2
Pillow>=9.1.1
tensorboard
Jinja2>=3.1.2
json5
Markdown
MarkupSafe>=2.1.1
matplotlib>=3.7.0
scikit-learn
tensorboardX
